.Results {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__details {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 1rem;

    &__last-up {
      color: gray;
      width: 50%;
    }

    button {
      width: fit-content;
      padding: 0.5rem;
      background: none;
      border: none;
      font-size: 1rem;
      color: white;
    }
  }
}

@media screen and (max-width: 992px) {
  .Results {
    width: 80%;

    &__footer {
      font-size: .8rem;
    }
  }
}

@media screen and (max-width: 496px) {
  .Results {
    width: 90%;

    &__footer {
      font-size: .7rem;
    }
  }
}