.Other__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 1rem;
  /**/
  &__item {
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(222, 235, 250, 1) 59%
    );
    border-radius: 8px;
    /**/
    .item__head {
      font-size: 0.8rem;
    }
    .item__value {
      font-size: 1.2rem;
      font-weight: 700;
    }
    /**/
  }
  /**/
}
