.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3rem;
    margin-block-end: 1rem;
    color: white;
  }
}

@media screen and (max-width: 992px) {
  .App {
    margin-block-start: 2rem;
  }
}