.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10rem auto;

  h1 {
    font-size: 3rem;
    margin-block-end: 1rem;
    color: white;
  }
}
